*{
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}

body {
    background: #000;
}
ul li:hover { color: silver;}
ul li:active{ color: red;}

.left{position: relative; float:left; width: 10%;}

.top{position: absolute;
    top: 50px;
    left: 20px;
    width: 500px;
    height: 100px;
    background-color: #000;
    color: #fff;
    padding: 10px;
    font-size: 45px;
    text-align: center;
    font-family: serif;
    text-shadow:
2px 2px 0px #939393,
4px 4px 0px #1c1c1c;

}

.list{
    position: absolute;
    top: 120px;
    left: 20px;
    width: 200px;
    height: 800px;
    background-color: #000;
    color: #ffffff;
    padding: 10px;
    font-size: 30px;
    text-align: center;
    font-family: serif;
    }

#container{position: relative; float:right;
        width:90%;
}
